# .gitignore

# Node
node_modules/
npm-debug.log
yarn-error.log

# Env
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Build
client/dist/
client/build/
server/dist/

# Logs
*.log
logs/
*.log.*

# Editor
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS
.DS_Store
Thumbs.db

# MongoDB dump (if any)
dump/

#upload folder in server
server/uploads/
